@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .header {
        padding: 0 40px;
    }
    .tabcontainer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }
    .tabcontent {
        width: 100%;
    }
    .tabcontent__descr {
        width: 410px;
        height: 260px;
        top: 240px;
        right: -110px;
        font-size: 18px;
        padding: 20px;
        overflow: hidden;        
        text-overflow: ellipsis;
    }
    .sidepanel {
        display: none;
        opacity: 0;
    }
    .offer {
        .offer__slider {
            width: 630px;
        }
        .offer__advantages {
            width: 310px;
        }
        .bgc_y {
            width: 100%;
        }
    }
    .menu {
        .container {
            flex-wrap: wrap;
            gap: 35px;
        }
        .menu__item {
            width: 450px;
        }
    }

    .order {
        .order__form {
            padding: 0 25px;
        }
    }
    .promotion {
        .promotion__timer {
            width: 55%;
            .timer {
                padding-left: 50px;
            }
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 29px;
    }
    .header {
        padding: 0 20px; 
        .header__left-block {
            min-width: 500px;
        }
    }
    .btn {
        width: 180px;
        height: 55px;
        font-size: 17px;
    }
    .preview {
        padding: 28px 0 140px 0;
        .preview__life {
            margin-left: 15px;
        }
    }
    .tabcontent__descr {
        width: 453px;
        height: 240px;
        top: 215px;
        right: -270px;
        font-size: 16px;
    }
    .offer {
        .bgc_y {
            height: 900px;
        }
        .container:nth-last-child(1) {
            justify-content: end;
        }
        .offer__text {
            width: 450px;
        }
        .offer__advantages {
            display: none;
        }
    }
    .calculating {
        .title {
            text-align-last: left;
        }
        .calculating__choose_medium {
            width: 550px;
        }
        .calculating__choose_big {
            width: 650px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px;  
        }
    }
    .menu {
        .container {
            justify-content: space-between;
        }
        .menu__item {
            width: 330px;
        }
    }
    .order {
        .order__form {
            padding: 0 13px;
            img {
                transform: scale(1.2);
            }
        }
        .order__input {
            width: 220px;
        }
    }

    .promotion {
        .bgc_y {
            width: 70%;
        }
        .promotion__timer {
            width: 70%;
            .timer {
                padding-left: 30px;
            }
        }
        
        .timer__block {
            width: 90px;
            span {
                font-size: 50px;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 24px;
    }
    .btn {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }
    .header {
        height: 80px;
        padding: 0 20px;
        .header__left-block {
            min-width: 310px;
        }
        .header__logo {
            display: none;

        }
    }
    .preview {
        .preview__life {
            display: none;
        }
        .tabcontent {
            position: unset;
        }
        .tabcontainer {
            position: relative;
        }
        .tabcontent__descr {
            padding: 10px;
            height: 220px;
            right: 25px;
        }
    }
    .offer {
        padding: 130px 0 100px 0;
        .offer__text {
            width: 355px;
        }
        .offer__slider {
            margin-top: 10px;
            width: 100%;
        }

    }

    .calculating {
        .calculating__choose_medium {
            margin: 25px auto 0 auto; 
            width: 420px;
            gap: 25px;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .calculating__choose_big {
            width: 420px;
        }
    }

    .menu {
        .container {
            align-items: stretch;
        }
        .menu__item {
            width: 45%;
        }
    }

    .order {
        .order__form {
            padding: 0 5px;
            img {
                transform: scale(.8);
            }
        }
        .order__input {
            width: 155px;
            font-size: 14px;
            padding: 0 7px;
        }
    }
    .promotion {
        padding: 70px 0 180px 0;
        .bgc_y {
            width: 95%;
        }
        .promotion__timer {
            .timer {
                padding-left: 40px;
            }
            .timer__block {
                width: 63px;
                span {
                    margin-bottom: 15px;
                    font-size: 35px;
                }
            }
        }
    }


}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .divider {
        width: 95%;
    }
    .header {
        height: 30px;
        padding: 15px 5px 0 5px;
        .header__left-block {
            min-width: 260px;
        }
        .header__links {
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }
        .header__link {
            margin-right: 21px;
            font-size: 14px;
        }
        .header__left-block {
            width: 100%;
            justify-content: space-around;
        }
        .header__right-block {
            display: none;
        }
    }
    .preview {
        padding: 25px 0 230px 0;
        .tabcontainer {
            grid-template-columns: 1fr;
        }
        .tabcontent__descr {
            top: unset;
            width: 95%;
            right: 0;
            bottom: -200px;
            font-size: 14px;
        }
    }
    .offer {
        padding: 50px 0 100px 0;
        .container {
            flex-direction: column-reverse;
        }
        .offer__text {
            width: 100%;
            margin-top: 20px;
        }
    }
    .calculating {
        .calculating__divider {
            width: 95%;
        }
        .calculating__choose-item {
            font-size: 13px;
        }
        .calculating__choose_medium {
            width: 100%;
            .calculating__choose-item {
                width: 120px;
            }
        }
        .calculating__choose_big {
            width: 100%;
            .calculating__choose-item {
                width: 135px;
            }
        }
        .calculating__subtitle {
            font-size: 19px;
        }
        .calculating__total {
            width: 100%;
            flex-direction: column;
        }
    }
    .menu {
        .menu__item {
            width: 100%;
        }
    }
    .order {
        .order__form {
            margin-top: 55px;
            height: 120px;
            row-gap: 15px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        img {
            display: none;
        }
        .order__input {
            width: 145px;
        }
    }
    .promotion {
        .container {
            flex-direction: column-reverse;
        }
        .promotion__timer {
            width: 100%;
            .timer {
                width: 300px;
                margin-top: 25px;
                padding: 0;
            }
            .timer__block {
                width: 70px;
            }
        }
        .promotion__text {
            margin-top: 30px;
            width: 100%;
        }
    }
    .footer {
        .subtitle {
            font-size: 15px;
        }
    }
    .modal__content {
        padding: 10px;
        width: 98%;
        margin: 0 auto;
        .modal__close {
            top: 0px;
            right: 7px;
            font-size: 26px;
        }
    }
}
